<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="styles/styles.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div class="">
      <h1> Digital NEST</h1>
    </div>
    <div class="">
      <button type="button" name="button">Staff</button>
      <button type="button" name="button">Members</button>
    </div>
    <div class="">
      <h1>Members</h1>
      <button type="button" name="button"> Login </button>
      <button type="button" name="button">Sign In</button>
    </div>
    <div class="">
      <h1>By Digital NEST</h1>

    </div>


  </body>
</html>
