<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="styles/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="">
      <h1>Main landing Page</h1>

    </div>
    <div class="">
      <h2>Side nav</h2>
    </div>

    <div class="">
      <h2>boxes</h2>
    </div>

    <div class="">
      <h2>upcoming events</h2>
    </div>

    <div class="">
      <h2>Member Name</h2>
    </div>
  </body>
</html>
